body{
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#2e2f42;
}

a:hover,
a:focus{
    color: #404bbf;
}

button:hover,
button:focus{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

*{
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

.container{
    max-width:1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
}

/* ==================HEADER================== */
.header-navigation{
    display: flex;
    align-items: center;
}

.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    width: 1440px;
    height: 72px;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-blue{
    color: #2e2f42;
}

.header-menu-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}

.header-contact-list{
    display: flex;
    margin-left: auto;
}

.header-contact-list{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    gap: 40px;
}

.header-contact-link{
    color: #434455;
}

.header-container{
    display: flex;
}
/* ==================================== */
/* ==================HERO================== */


.hero{
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
}

.hero-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border:none;
    cursor: pointer;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    margin-top: 58px;
}

/* ==================================== */
/* ==================FEATURES================== */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 18px;
}

.features-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.features{
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item{
    width: calc((100% - 3 * 24px) / 4);
}
/* ==================================== */
/* ==================TEAM================== */
.team{
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-img{
    margin-bottom: 32px;
}

.team-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-item{
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-list{
    display: flex;
    gap: 24px;
}
/* ==================================== */
/* ==================PORTFOLIO================== */
.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-item{
    width: 360px;
    height: 420px;
    border: 1px solid #e7e9fc;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-img{
    margin-bottom: 32px;
}

.portfolio-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    padding-left: 16px;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-left: 16px;
}
/* ==================================== */
/* ==================FOOTER================== */
footer{
    background-color:#2e2f42;;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-white{
    color: #f4f4fd;
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 16px;
    max-width: 264px;
}